#header {
  height: 48px;
  clear: both;
}

#header h1 {
  margin: 0px 0px 0px 0px; 
}

#body {
}

#content {
  margin-left: 154px;
  margin-right: 124px;
  padding-left: 1em;
  padding-right: 1em;
  min-height: 600px;
}

#content h1 { margin-top: 0px;}

#content .last {
   margin-bottom: 0px;
   margin-top: 0px;
   height: 0px;
}

#sidebar {
   position: absolute;
   width: 150px;
   top: 56px;
   margin: 0px 0px 0px 0px;
}
#sidebar h1 {
   margin: 2px 1em 0px 0em;
}

#sidebar h1 {
  padding: 0 2px 0 2px;
  margin: 0 0 0 0;
}

#sidebar ul { margin: 0 0 0 0; padding-left: 1em; }
#sidebar ul li { display: block; }

#rightbar {
  position: absolute;
  width: 120px;
  top: 56px;
  right: 0px;
  margin: 0px 8px 0px 0px;
}

.prop {
  height: 350px;
  float: right;
  width: 1px;
}

.clear {
  clear: both;
  height: 1px;
  overflow: hidden;
}
#footer {
}
#footer p { margin: 0px 0px 0px 0px; }

.picture {
  float: left;
  border: 1px solid #999;
  margin: 0 5px 15px 0;
  padding: 2px;
}
